/*=================================
     Single Ticket Details (Page)
  =================================*/

.ts-d-ticket-details-area {
    @extend .ts-d-workprocess-table-area;
    margin: 0 10px;
    position: relative;
    min-height: 90vh;
}

#ts-d-ticket-bg-svg {
    position: absolute;
    left: 0;
    top: 0;
}


.ts-d-ticket-details-main {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    align-items: center;
    width: 70%;
    font-family: sans-serif;
    z-index: 2;
    position: relative;
    margin: auto auto 4rem;
    @media all and (max-width: 1440px) {
        width: auto;
    }

    table {
        width: 100%;

        tr {
            font-size: 14px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #484848;
            margin-bottom: 0.5rem;

            td:first-child {
                font-weight: bold;
                width: 48%;
            }

            td:last-child {
                text-align: right;
                width: 49%;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

h6.ts-d-ticket-details-header {
    background-color: #707070;
    color: #ffffff;
    text-align: left;
    line-height: 1;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 0.6rem;
}

/*=================================
      //Ticket Details Update
  =================================*/
.ts-d-ticket-details-update {
    width: 70%;
    margin: auto;
    z-index: 2;
    position: relative;
    @media all and (max-width: 600px) {
        width: auto;
    }
}

/*============================
           CHAT
  ============================*/
.ts-d-message-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

ul.ts-d-message-list {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 80%;
    overflow-y: auto;
    height: 500px;
    @media all and (max-width: 600px) {
        width: 100%;
    }

    li {
        list-style: none;
        width: 100%;
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


ul.ts-d-message-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 600px;
    overflow-y: auto;
    margin: 25px auto;
    padding: 25px 0;

    .ts-d-m-common {
        .ts-d-message-text {
            border-radius: 0.5rem;
            padding: 1rem 1.5rem;
        }

        .ts-d-message-time {
            margin-top: 0.3rem;
            align-self: flex-start;
            font-family: initial;
            color: #4d4d4d;
            font-style: italic;
            font-weight: 500;

            span, small {
                display: inline-block;
            }
        }
    }


    .ts-d-m-other {
        .ts-d-message-text {
            background-color: #ecfbff;
            position: relative;
            flex-grow: 1;
            font-family: sans-serif;
            word-break: break-all;
            //Fixme: Kept Off @mominriyadh 21/9/2022
            //&::after {
            //    content: '';
            //    position: absolute;
            //    width: 0;
            //    height: 0;
            //    left: auto;
            //    right: -20px;
            //    top: 50%;
            //    transform: translateY(-50%);
            //    bottom: auto;
            //    border: 12px solid;
            //    border-color: #ecfbff transparent transparent #ecfbff;
            //}
        }
    }

    .ts-d-m-self {
        .ts-d-message-text {
            word-break: break-word;
            background-color: #9be6fd;
            position: relative;
            min-height: 3rem;
            //Fixme: Kept Off @mominriyadh 21/9/2022
            //&::after {
            //    content: ' ';
            //    position: absolute;
            //    width: 0;
            //    height: 0;
            //    left: auto;
            //    right: -20px;
            //    top: 50%;
            //    transform: translateY(-50%);
            //    bottom: auto;
            //    border: 12px solid;
            //    border-color: #9be6fd transparent transparent #9be6fd;
            //}
        }

    }
}


.ts-d-message-text-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .ts-d-message-text {
        flex-grow: 1;
    }

    .ts-d-m-author {
        flex-shrink: 0;
        margin-left: 1.2rem;
        margin-right: 0.5rem;

        img {
            width: 46px;
            height: 46px;
            object-fit: cover;
            border-radius: 50%;
            background: #f7f7f7;
            border: 1px solid #616161;
            padding: 2px;
        }
    }
}

.ts-d-message-footer-area {
    background-color: #ffffff;
    border-radius: 10px;
    //box-shadow: 0 0 10px rgba(7, 152, 255, 0.12);
    //box-shadow: 0 -10px 0 #fff, 0 0 10px rgba(7, 152, 255, 0.12);
    width: 80%;
    border: 1px solid #ddd;
    overflow: hidden;
    @media all and (max-width: 600px) {
        width: 100%;
    }
}

.ts-d-message-footer {
    position: relative;
    left: auto;
    bottom: 0;
    right: auto;
    height: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;

    input#ts-d-chat-input {
        flex-grow: 1;
        border: 0;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: #d7d7d7;
            font-style: italic;
        }
    }

    #ts-d-chat-button {
        border: none;
        background-color: $brand-color;
        color: #ffffff;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        text-transform: capitalize;
        font-weight: 500;
        flex-shrink: 0;
        margin-left: 5px;
    }
}

//Plugins Overwrite
.ts-d-message-footer {
    textarea.ant-input {
        max-width: 100%;
        height: auto;
        min-height: 32px;
        line-height: 1.5715;
        vertical-align: bottom;
        transition: all 0.3s, height 0s;
        border: none;
    }

    .ant-input:focus, .ant-input-focused {
        border-color: #40a9ff;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: none;
    }
}

//Chat Attachment
.ts-d-c-attachment {
    margin-bottom: 0;

    i {
        display: inline-block;
        color: #d5d5d5;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        margin: 0 1rem;
        transform: rotate(45deg);

        &:hover {
            color: $brand-color;
        }
    }


    input[type=file] {
        position: absolute;
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

//Canned Message (Plugins Overwrite)
.ts-d-canned-message {
    display: block;
    width: 100%;
    color: #484848;
    border-radius: 3rem;

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        position: relative;
        background-color: #f7f7f7;
        border: none;
        transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .ant-select {
        width: 100%;
        color: #484848;
    }

    .ant-select-focused .ant-select-selector,
    .ant-select-selector:focus,
    .ant-select-selector:active,
    .ant-select-open .ant-select-selector {
        color: #484848;
        border-color: #d9d9d9 !important;
        box-shadow: none !important;
    }
}



























